<div class="dropdown">
  <a
    href="#"
    class="d-block text-decoration-none dropdown-toggle icon"
    [ngClass]="isUiSidenav ? 'text-dark' : 'text-white'"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <app-icon-profile></app-icon-profile>
  </a>
  <ul class="dropdown-menu text-small shadow">
    <li>
      <a class="dropdown-item" (click)="changeUi()">Top</a>
    </li>
    <li>
      <a class="dropdown-item" (click)="changeUi()">Sidenav</a>
    </li>
    <li><a class="dropdown-item" (click)="useLanguage('en')">En</a></li>
    <li><a class="dropdown-item" (click)="useLanguage('fr')">Fr</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" (click)="signOut()">Sign out</a></li>
  </ul>
</div>
