.state-canceled {
  background: #ec9898;
}
.state-option {
  background: #ffb67b;
}
.state-confirmed {
  background: #a8e9c5;
}

td {
  background: none;
}
.icons:hover {
  cursor: pointer !important;
}
