<app-ui *ngIf="!isUiSidenav">
  <app-header>
    <app-icon-bootstrap
      class="tr-icon-app"
      (click)="change()"
    ></app-icon-bootstrap>
    <app-nav class="tr-nav" [isUiSidenav]="isUiSidenav"></app-nav>
    <app-profile-settings
      class="tr-settings"
      [isUiSidenav]="isUiSidenav"
      (iSUiChange)="change()"
    ></app-profile-settings>
  </app-header>
</app-ui>

<app-ui-sidenav *ngIf="isUiSidenav">
  <app-icon-bootstrap
    class="tr-icon-app"
    (click)="change()"
  ></app-icon-bootstrap>
  <app-nav class="tr-nav" [isUiSidenav]="isUiSidenav"></app-nav>
  <app-profile-settings
    class="tr-settings"
    [isUiSidenav]="isUiSidenav"
    (iSUiChange)="change()"
  ></app-profile-settings>
</app-ui-sidenav>
