<ul
  class="nav justify-content-center"
  [ngClass]="isUiSidenav ? 'flex-column' : ''"
>
  <li class="nav-item">
    <a
      class="nav-link"
      [ngClass]="isUiSidenav ? 'text-dark sidenav' : 'text-light text-center'"
      routerLink="dashbord"
      routerLinkActive="active"
    >
      <span class="icon" [ngClass]="isUiSidenav ? 'me-3' : 'mx-3'">
        <app-icon-dashbord></app-icon-dashbord>
      </span>
      <span [ngClass]="isUiSidenav ? '' : 'd-block'">dashbord</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [ngClass]="isUiSidenav ? 'text-dark sidenav' : 'text-light text-center'"
      routerLink="orders"
      routerLinkActive="active"
    >
      <span class="icon" [ngClass]="isUiSidenav ? 'me-3' : 'mx-3'">
        <app-icon-orders></app-icon-orders>
      </span>
      <span [ngClass]="isUiSidenav ? '' : 'd-block'">orders</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [ngClass]="isUiSidenav ? 'text-dark sidenav' : 'text-light text-center'"
      routerLink="products"
      routerLinkActive="active"
    >
      <span class="icon" [ngClass]="isUiSidenav ? 'me-3' : 'mx-3'">
        <app-icon-products></app-icon-products>
      </span>
      <span [ngClass]="isUiSidenav ? '' : 'd-block'">Products</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [ngClass]="isUiSidenav ? 'text-dark sidenav' : 'text-light text-center'"
      routerLink="customers"
      routerLinkActive="active"
    >
      <span class="icon" [ngClass]="isUiSidenav ? 'me-3' : 'mx-3'">
        <app-icon-customers></app-icon-customers>
      </span>
      <span [ngClass]="isUiSidenav ? '' : 'd-block'">Customers</span>
    </a>
  </li>
</ul>
